.AnchorPane {
    -fx-background-color: #1d1d1d;
}

.button {
    -fx-background-radius: 30; /* Pour rendre les boutons ronds */
}

.button:selected {
    -fx-scale-x: 1.1; /* Agrandir en largeur */
    -fx-scale-y: 1.1; /* Agrandir en hauteur */
    -fx-border-color: red; /* Couleur de la bordure lorsqu'un bouton est sélectionné */
    -fx-border-width: 2; /* Épaisseur de la bordure */
}


#colorOne {
    -fx-background-color: rgb(158, 14, 158);
}

#colorTwo {
    -fx-background-color: rgb(231, 231, 0);
}

#colorThree {
    -fx-background-color: rgb(218, 0, 0);
}
